<ul>
  <% comments.each do |comment| %>
    <% if comment.id.present? %>
      <li>
      <!-- 追記 -->
        <div class="comment-content" id ="this_comment_<%= comment.id %>"></div>
      <!-- ここまで -->
        <p><%= comment.content %></p>
        <!-- 追記 -->
        <p><%= link_to "コメント編集", edit_blog_comment_path(blog, comment), remote: true %></p>
        <!-- ここまで -->
      </li>
    <% end %>
  <% end %>
</ul>