<div class="modal-dialog" role="document">
  <div class="modal-content">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>すべてのカテゴリ</th> 
        </tr>
      </thead>

      <tbody id="team-tbody">
        <% @teams.each do |team| %>
          <tr>
            <td><%= team.name %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>+
