<table class="table table-hover">
  <thead>
    <tr>
      <th>すべてのカテゴリ</th> 
    </tr>
  </thead>

  <tbody>
    <% @teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
      </tr>
    <% end %>
  </tbody>
</table>