<p id="notice"><%= notice %></p>

<h1>Users</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>created_at</th>
      <th>updated_at</th>      
    </tr>
  </thead>

  <tbody id="user-tbody">
    <%= render 'list' %>
  </tbody>
</table>

<br>

<%= link_to 'New User', new_user_path, remote: true, class: "btn btn-outline-secondary" %>
<div id="user-modal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true"></div>
